.headerContainer{
    position:sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

header{
    height: 68px;
    padding: 1rem;
    background-color: #002f3408;
    display: flex;
    gap: 1rem;
    box-shadow: 1px 1px 1px #002f341e;
}

.username{
    white-space: nowrap;
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 600;
    color: red;
}

.location-search{
    max-width: 272px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid black;
}

.location-search input,
.location-search input:focus,
.mainSearchbar input,
.mainSearchbar input:focus{
    border: none;
    outline: none;
    background-color: inherit;
    height: 100%;
}

.mainSearchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid black;
    height: 40px;
}

.mainSearchbar input{
    margin-left: 0.5rem;
}

.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 40px;
    background-color: #002f34;
    color: white;
    cursor: pointer;
}

.languageSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #002f34;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.languageSelect .arrowContainer{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loginContainer .login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002f34;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid #002f34;
}

.loginContainer .login:hover{
    border-bottom: none;
}

.sellBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sellBtn{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 14px;
    color: #002f34;
    font-weight: 700;
    cursor: pointer;
}

.subHeaderContainer{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    box-shadow: 1px 1px 1px #002f343d;
}
